body {
  margin: 0;
}

header {
  position: fixed;
  background-color: #005bbb;
  width: 100vw;
  top: 0;
}

h1 {
  color: white;
  margin-left: 15px;
  font-size: 1.5em;
}

.content {
  width: 100%;
  height: 400px;
}
