body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: rgb(76, 180, 182);
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
}

header h1 {
  font-size: 20px;
  padding: 8px;
  color: white;
}

.content {
  height: 400px;
  width: 90%;
  background-color: rgb(207, 207, 207);
  margin: 10px auto;
  text-align: center;
  padding: 10px;
}
